<div class="container">
  <div style="text-align:center">
    <img
      alt="Zyllem Logo"
      src="https://static.wixstatic.com/media/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.png/v1/fill/w_194,h_80,al_c,q_80,usm_0.66_1.00_0.01/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.webp"
    />
  </div>

  <h2>Articles</h2>
  <h3>List of article goes here:</h3>

  <!-- To put the articles inside this container -->
  <div class="article-container">
    <!-- Feel free to remove this holder -->
    <div class="article-list-holder" style="height: 20vh">

    </div>
  </div><!--.article-container-->
  
  <div class="bonus-point-container">
    <h3>Bonus Points:</h3>
    <ul>
      <li>Apply a nice template for the article list</li>
      <li>Allow to filter by article type</li>
      <li>Get real data from an API to replace our mock data</li>
      <li>Apply angular router to show an article detail page when you open it from the list</li>
    </ul>
  </div> <!--.bonus-point-container -->
</div>
